<nav class="navbar sticky-top">
    <a [routerLink]="['/home']">
        <img class="pl-5" src="assets/img/Gutov logo.png">
    </a>

    <a [routerLink]="['/link']">
        <div>Link</div>
    </a>

    <a [routerLink]="['/']">
        <div>Dropdown</div>
    </a>

    <a [routerLink]="['/']">
        <div>Test 1</div>
    </a>

    <a [routerLink]="['/']">
        <div>Test 2</div>
    </a>
    <a [routerLink]="['/']">
        <div>Test 2</div>
    </a>
    <a [routerLink]="['/']">
        <div>Test 2</div>
    </a>
    <a [routerLink]="['/']">
        <div>Test 2</div>
    </a>
    <a [routerLink]="['/']">
        <div>Test 2</div>
    </a>

</nav>